<div class="container">
    <div class="list category animated">
        <div class="BLR-EvaluationOfLandResources">
            <header><span>土地资源评价</span></header>
            <form class="BLR-EvaluationOfLandResources-form form">
                <div class="form-group">
                    <label class="labels" for="jiansheyongdimianji-category">建设用地面积(单位:平方公里)</label>
                    <input class="form-input" type="number" step="0.1" name="jiansheyongdimianji" id="jiansheyongdimianji-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="xingzhengquyumianji-category">行政区域总面积(单位:平方公里)</label>
                    <input class="form-input" type="number" step="0.1" name="xingzhengquyumianji" id="xingzhengquyumianji-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="EvaluationOfLandResourcesDateYear-category">数据年份</label>
                    <input class="form-input" type="number" name="EvaluationOfLandResourcesDateYear" id="EvaluationOfLandResourcesDateYear-category">
                </div>
            </form>
        </div>
        <div class="BLR-EvaluationOfUrbanizationArea">
            <header><span>城市化地区评价</span></header>
            <form class="BLR-EvaluationOfUrbanizationArea-form form">
                <div class="form-group">
                    <label class="labels" for="chengshiyujianzhizhenzongmianji-category">城市与建制镇总面积(单位:平方公里)</label>
                    <input class="form-input" type="number" step="10" name="chengshiyujianzhizhenzongmianji" id="chengshiyujianzhizhenzongmianji-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="EvaluationOfUrbanizationAreaDateYear-category">数据年份</label>
                    <input class="form-input" type="number" name="EvaluationOfUrbanizationAreaDateYear" id="EvaluationOfUrbanizationAreaDateYear-category">
                </div>
            </form>
        </div>
        <div class="BLR-UtilizationEfficiencyOfLandResources">
            <header><span>土地资源利用效率变化</span></header>
            <form class="BLR-UtilizationEfficiencyOfLandResources-form form">
                <div class="form-group">
                    <label class="labels" for="jizhunnian-category">基准年</label>
                    <input class="form-input" type="number" min="1949" name="jizhunnian" id="jizhunnian-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianian-category">评价年</label>
                    <input class="form-input" type="number" min="1949" name="pingjianian" id="pingjianian-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="jizhunnianxingzhengquyuneijiansheyongdimianji-category">基准年行政区域内建设用地面积(单位:公顷)</label>
                    <input class="form-input" type="number" step="10" name="jizhunnianxingzhengquyuneijiansheyongdimianji" id="jizhunnianxingzhengquyuneijiansheyongdimianji-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="jizhunnianGDP-category">基准年GDP(单位:亿元)</label>
                    <input class="form-input" type="number" name="jizhunnianGDP" id="jizhunnianGDP-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianianxingzhengquyuneijiansheyongdimianji-category">评价年行政区域内建设用地面积</label>
                    <input class="form-input" type="number" name="pingjianianxingzhengquyuneijiansheyongdimianji" id="pingjianianxingzhengquyuneijiansheyongdimianji-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianianGDP-category">评价年GDP(单位:亿元)</label>
                    <input class="form-input" type="number" name="pingjianianGDP" id="pingjianianGDP-category">
                </div>
                <div class="form-group">
                    <label class="labels input-active" for="quanguonianjuntudiziyuanliyongxiaolvzengsushuiping-category">全国年均土地资源利用效率增速平均水平(格式:小数)</label>
                    <input class="form-input" type="number" name="quanguonianjuntudiziyuanliyongxiaolvzengsushuiping" id="quanguonianjuntudiziyuanliyongxiaolvzengsushuiping-category" value="0.0424" readonly="readonly">
                </div>
            </form>
        </div>
        <div class="BLR-EvaluationOfEcological">
            <header><span>生态评价</span></header>
            <form class="BLR-EvaluationOfEcological-form form">
                <div class="form-group">
                    <label class="labels" for="pingjiaquyutudimianji-category">评价区域土地面积(单位:平方公里)</label>
                    <input class="form-input" type="number" name="pingjiaquyutudimianji" id="pingjiaquyutudimianji-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="EvaluationOfEcologicalDateYear-category">数据年份</label>
                    <input class="form-input" type="number" name="EvaluationOfEcologicalDateYear" id="EvaluationOfEcologicalDateYear-category">
                </div>
            </form>
        </div>
        <div class="form-submit category">确认</div>
    </div>
</div>
<header class="header">
    <div><i class="fa fa-angle-right"></i>欢迎您，国土局的朋友</div>
    <a href="#/BLR/help" class="help"><div><i class="fa fa-question-circle-o animated pulse infinite"></i>查看帮助</div></a>
    <a href="/api/logout" class="logout-btn"><div>离开</div></a>
</header>
<div class="tips">
    <div class="tips-body">
        <i class="fa fa-exclamation-triangle"></i>
        <strong>Caution</strong>
        <p class="tips-text"></p>
    </div>
</div>
<div class="background"></div>