<!DOCTYPE html>
<html lang="cn">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/app.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <script src="/static/js/lib.js"></script>
        <script src="/static/js/router.js"></script>
        <script src="/static/js/app.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="list all animated">
                <form class="list-form all form">
                    <div class="form-group">
                        <label class="labels" for="tudiziyuanyalizhishu-all">土地资源压力指数</label>
                        <input class="form-input" type="number" step="0.1" name="tudiziyuanyalizhishu" id="tudiziyuanyalizhishu-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="chengshiyujianzhizhenzongmianji-all">城市与建制镇总面积(单位:平方公里)</label>
                        <input class="form-input" type="number" min="0" step="10" name="chengshiyujianzhizhenzongmianji" id="chengshiyujianzhizhenzongmianji-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="jizhunnian-all">基准年</label>
                        <input class="form-input" type="number" min="1949" name="jizhunnian" id="jizhunnian-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pingjianian-all">评价年</label>
                        <input class="form-input" type="number" min="1949" name="pingjianian" id="pingjianian-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="jizhunnianxingzhengquyuneijiansheyongdimianji-all">基准年行政区域内建设用地面积</label>
                        <input class="form-input" type="number" min="0" step="10" name="jizhunnianxingzhengquyuneijiansheyongdimianji" id="jizhunnianxingzhengquyuneijiansheyongdimianji-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="jizhunnianGDP-all">基准年GDP</label>
                        <input class="form-input" type="number" min="0" name="jizhunnianGDP" id="jizhunnianGDP-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pingjianianxingzhengquyuneijiansheyongdimianji-all">评价年行政区域内建设用地面积</label>
                        <input class="form-input" type="number" min="0" name="pingjianianxingzhengquyuneijiansheyongdimianji" id="pingjianianxingzhengquyuneijiansheyongdimianji-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pingjianianhoudishinianGDP-all">评价年后第十年GDP</label>
                        <input class="form-input" type="number" min="0" name="pingjianianhoudishinianGDP" id="pingjianianhoudishinianGDP-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="quanguonianjuntudiziyuanliyongxiaolvzengsushuiping-all">全国年均土地资源利用效率增速平均水平</label>
                        <input class="form-input" type="number" min="0" name="quanguonianjuntudiziyuanliyongxiaolvzengsushuiping" id="quanguonianjuntudiziyuanliyongxiaolvzengsushuiping-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pingjiaquyutudimianji-all">评价区域土地面积</label>
                        <input class="form-input" type="number" min="0" name="pingjiaquyutudimianji" id="pingjiaquyutudimianji-all">
                    </div>
                    <div class="form-submit all">确认</div>
                </form>
            </div>
            <div class="list category animated">
                <div class="BLR-EvaluationOfLandResources">
                    <header><span>土地资源评价</span></header>
                    <form class="BLR-EvaluationOfLandResources-form form">
                        <div class="form-group">
                            <label class="labels" for="tudiziyuanyalizhishu-category">土地资源压力指数</label>
                            <input class="form-input" type="number" step="0.1" name="tudiziyuanyalizhishu" id="tudiziyuanyalizhishu-category">
                        </div>
                    </form>
                </div>
                <div class="BLR-EvaluationOfUrbanizationArea">
                    <header><span>城市化地区评价</span></header>
                    <form class="BLR-EvaluationOfUrbanizationArea-form form">
                        <div class="form-group">
                            <label class="labels" for="chengshiyujianzhizhenzongmianji-category">城市与建制镇总面积(单位:平方公里)</label>
                            <input class="form-input" type="number" min="0" step="10" name="chengshiyujianzhizhenzongmianji" id="chengshiyujianzhizhenzongmianji-category">
                        </div>
                    </form>
                </div>
                <div class="BLR-UtilizationEfficiencyOfLandResources">
                    <header><span>土地资源利用效率变化</span></header>
                    <form class="BLR-UtilizationEfficiencyOfLandResources-form form">
                        <div class="form-group">
                            <label class="labels" for="jizhunnian-category">基准年</label>
                            <input class="form-input" type="number" min="1949" name="jizhunnian" id="jizhunnian-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="pingjianian-category">评价年</label>
                            <input class="form-input" type="number" min="1949" name="pingjianian" id="pingjianian-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="jizhunnianxingzhengquyuneijiansheyongdimianji-category">基准年行政区域内建设用地面积</label>
                            <input class="form-input" type="number" min="0" step="10" name="jizhunnianxingzhengquyuneijiansheyongdimianji" id="jizhunnianxingzhengquyuneijiansheyongdimianji-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="jizhunnianGDP-category">基准年GDP</label>
                            <input class="form-input" type="number" min="0" name="jizhunnianGDP" id="jizhunnianGDP-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="pingjianianxingzhengquyuneijiansheyongdimianji-category">评价年行政区域内建设用地面积</label>
                            <input class="form-input" type="number" min="0" name="pingjianianxingzhengquyuneijiansheyongdimianji" id="pingjianianxingzhengquyuneijiansheyongdimianji-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="pingjianianhoudishinianGDP-category">评价年后第十年GDP</label>
                            <input class="form-input" type="number" min="0" name="pingjianianhoudishinianGDP" id="pingjianianhoudishinianGDP-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="quanguonianjuntudiziyuanliyongxiaolvzengsushuiping-category">全国年均土地资源利用效率增速平均水平</label>
                            <input class="form-input" type="number" min="0" name="quanguonianjuntudiziyuanliyongxiaolvzengsushuiping" id="quanguonianjuntudiziyuanliyongxiaolvzengsushuiping-category">
                        </div>
                    </form>
                </div>
                <div class="BLR-EvaluationOfEcological">
                    <header><span>生态评价</span></header>
                    <form class="BLR-EvaluationOfEcological-form form">
                        <div class="form-group">
                            <label class="labels" for="pingjiaquyutudimianji-category">评价区域土地面积</label>
                            <input class="form-input" type="number" min="0" name="pingjiaquyutudimianji" id="pingjiaquyutudimianji-category">
                        </div>
                    </form>
                </div>
                <div class="form-submit category">确认</div>
            </div>
        </div>
        <header class="header">
            <a href="#/all"><div>直接录入</div></a>
            <i class="fa fa-angle-right fa-2x"></i>
            <a href="#/category"><div>分类录入</div></a>
        </header>
        <div class="tips">
            <div class="tips-body">
                <i class="fa fa-exclamation-triangle"></i>
                <strong>Caution</strong>
                <p class="tips-text"></p>
            </div>
        </div>
    </body>
</html>