<div class="container">
    <div class="list animated">
    <div class="eva1">
        <header class="headerTitle">
            <span>
                <h2>基础评价</h2>
            </span>
        </header>
        <div class="EvaluationOfLandResources">
            <header class="header2Title">
                <h3>土地资源评价</h3>
            </header>
            <div class="EvaluationOfLandResources-list a-list">
                <div class="list-group">
                    <i class="fa fa-tag fa-2x"></i>
                    <span class="EvaluationOfLandResourcesResult"></span>
                </div>
            </div>
            <div class="single-query">
                <input type="number" name="EvaluationOfLandResourcesDateYear" placeholder="查询年份" class="EvaluationOfLandResourcesDateYear">
                <div class="single-query-btn" data-value="EvaluationOfLandResources">确定</div>
            </div>
        </div>
        <div class="EvaluationOfWarterResources">
            <header class="header2Title">
                <h3>水资源评价</h3>
            </header>
            <div class="EvaluationOfWarterResources-list a-list">
                <div class="list-group">
                    <i class="fa fa-tag fa-2x"></i>
                    <span class="EvaluationOfWarterResourcesResult"></span>
                </div>
            </div>
            <div class="single-query">
                <input type="number" name="EvaluationOfWarterResourcesDateYear" placeholder="查询年份" class="EvaluationOfWarterResourcesDateYear">
                <div class="single-query-btn" data-value="EvaluationOfWarterResources">确定</div>
            </div>
        </div>
        <div class="EvaluationOfEnvironment">
            <header class="header2Title">
                <span>
                    <h3>环境评价</h3>
                </span>
            </header>
            <div class="EvaluationOfEnvironment-Air">
                <header>
                    <span>大气环境质量检测</span>
                </header>
                <div class="EvaluationOfEnvironment-Air-list a-list">
                    <div class="list-group">
                        <i class="fa fa-tag fa-2x"></i>
                        <span class="EvaluationOfEnvironmentAirResult"></span>
                    </div>
                </div>
            </div>
            <div class="EPB-EvaluationOfEnvironment-Water">
                <header>
                    <span>水环境质量检测值</span>
                </header>
                <div class="EvaluationOfEnvironment-Water-list a-list">
                    <div class="list-group">
                        <i class="fa fa-tag fa-2x"></i>
                        <span class="EvaluationOfEnvironmentWaterResult"></span>
                    </div>

                </div>
            </div>
            <div class="list-group" class="header2Title">
                <i class="fa fa-tag fa-2x"></i>
                <span>环境评价 评价结果</span>
                <span class="EvaluationOfEnvironmentResult"></span>
            </div>
            <div class="single-query">
                <input type="number" name="EvaluationOfEnvironmentDateYear" placeholder="查询年份" class="EvaluationOfEnvironmentDateYear">
                <div class="single-query-btn" data-value="EvaluationOfEnvironment">确定</div>
            </div>
        </div>
        <div class="EvaluationOfEcological">
            <header class="header2Title">
                <h3>生态评价</h3>
            </header>
            <div class="EvaluationOfEcological-list a-list">
                <div class="list-group">
                    <i class="fa fa-tag fa-2x"></i>
                    <span class="EvaluationOfEcologicalResult"></span>
                </div>
            </div>
            <div class="single-query">
                <input type="number" name="EvaluationOfEcologicalDateYear" placeholder="查询年份" class="EvaluationOfEcologicalDateYear">
                <div class="single-query-btn" data-value="EvaluationOfEcological">确定</div>
            </div>
        </div>
    </div>
    <div class="eva2">
        <header class="headerTitle">
            <h2>专项评价</h2>
        </header>
        <div class="EvaluationOfUrbanizationArea">
            <header class="header2Title">
                <h3>城市化地区评价</h3>
            </header>
            <div class="EvaluationOfUrbanizationArea-list a-list">
                <div class="list-group">
                    <i class="fa fa-tag fa-2x"></i>
                    <span class="EvaluationOfUrbanizationAreaResult"></span>
                </div>
            </div>
            <div class="single-query">
                <input type="number" name="EvaluationOfUrbanizationAreaDateYear" placeholder="查询年份" class="EvaluationOfUrbanizationAreaDateYear">
                <div class="single-query-btn" data-value="EvaluationOfUrbanizationArea">确定</div>
            </div>
        </div>
        <div class="EvaluationOfKeyEcologicalFunctionArea">
            <header class="header2Title">
                <h3>重点生态功能区评价</h3>
            </header>
            <div class="EvaluationOfKeyEcologicalFunctionArea-list a-list">
                <div class="list-group">
                    <i class="fa fa-tag fa-2x"></i>
                    <span class="EvaluationOfKeyEcologicalFunctionAreaResult"></span>
                </div>
            </div>
            <div class="single-query">
                <input type="number" name="EvaluationOfKeyEcologicalFunctionAreaDateYear" placeholder="查询年份" class="EvaluationOfKeyEcologicalFunctionAreaDateYear">
                <div class="single-query-btn" data-value="EvaluationOfKeyEcologicalFunctionArea">确定</div>
            </div>
        </div>
    </div>
    <div class="eva3">
        <header class="headerTitle">
            <h2>过程评价</h2>
        </header>
        <div class="UtilizationEfficiencyOfLandResources">
            <header class="header2Title">
                <h3>土地资源利用效率变化</h3>
            </header>
            <div class="UtilizationEfficiencyOfLandResources-list a-list">
                <div class="list-group">
                    <i class="fa fa-tag fa-2x"></i>
                    <span class="UtilizationEfficiencyOfLandResourcesResult"></span>
                </div>
            </div>
            <div class="single-query">
                <input type="number" name="UtilizationEfficiencyOfLandResourcesDateYear" placeholder="查询年份" class="UtilizationEfficiencyOfLandResourcesDateYear">
                <div class="single-query-btn" data-value="UtilizationEfficiencyOfLandResources">确定</div>
            </div>
        </div>
        <div class="UtilizationEfficiencyOfWarterResources">
            <header class="header2Title">
                <h3>水资源利用效率变化</h3>
            </header>
            <div class="UtilizationEfficiencyOfWarterResources-list a-list">
                <div class="list-group">
                    <i class="fa fa-tag fa-2x"></i>
                    <span class="UtilizationEfficiencyOfWarterResourcesResult"></span>
                </div>
            </div>
            <div class="single-query">
                <input type="number" name="UtilizationEfficiencyOfWarterResourcesDateYear" placeholder="查询年份" class="UtilizationEfficiencyOfWarterResourcesDateYear">
                <div class="single-query-btn" data-value="UtilizationEfficiencyOfWarterResources">确定</div>
            </div>
        </div>
        <div class="EmissionIntensityOfPollutants">
            <header class="header2Title">
                <h3>污染物排放强度变化</h3>
            </header>
            <div class="EmissionIntensityOfPollutants-Water-o">
                <header>
                    <span>水污染物(化学需氧量)排放强度变化</span>
                </header>
                <div class="EmissionIntensityOfPollutants-Water-o-list a-list">
                    <div class="list-group">
                        <i class="fa fa-tag fa-2x"></i>
                        <span class="EmissionIntensityOfPollutantsWaterOResult"></span>
                    </div>
                </div>
            </div>
            <div class="EPB-EmissionIntensityOfPollutants-Water-n">
                <header>
                    <span>水污染物(氨氮)排放强度变化</span>
                </header>
                <div class="EmissionIntensityOfPollutants-Water-n-list a-list">
                    <div class="list-group">
                        <i class="fa fa-tag fa-2x"></i>
                        <span class="EmissionIntensityOfPollutantsWaterNResult"></span>
                    </div>
                </div>
            </div>
            <div class="EPB-EmissionIntensityOfPollutants-Air-so2">
                <header>
                    <span>大气污染物污染物(二氧化硫)排放强度变化</span>
                </header>
                <div class="EmissionIntensityOfPollutants-Air-so2-list a-list">
                    <div class="list-group">
                        <i class="fa fa-tag fa-2x"></i>
                        <span class="EmissionIntensityOfPollutantsAirSO2Result"></span>
                    </div>
                </div>
            </div>
            <div class="EPB-EmissionIntensityOfPollutants-Air-no">
                <header>
                    <span>大气污染物污染物(氮氧化物)排放强度变化</span>
                </header>
                <div class="EmissionIntensityOfPollutants-Air-no-list a-list">
                    <div class="list-group">
                        <i class="fa fa-tag fa-2x"></i>
                        <span class="EmissionIntensityOfPollutantsAirNOResult"></span>
                    </div>
                </div>
            </div>
            <div class="single-query">
                <input type="number" name="EmissionIntensityOfPollutantsDateYear" placeholder="查询年份" class="EmissionIntensityOfPollutantsDateYear">
                <div class="single-query-btn" data-value="EmissionIntensityOfPollutants">确定</div>
            </div>
        </div>
        <div class="EcologicalQuality">
            <header class="header2Title">
                <h3>生态质量评价</h3>
            </header>
            <div class="EcologicalQualityLincao">
                <header>
                    <span>林草覆盖率变化</span>
                </header>
                <div class="EcologicalQualityLincao-list a-list">
                    <div class="list-group">
                        <i class="fa fa-tag fa-2x"></i>
                        <span class="EcologicalQualityLincaoResult"></span>
                    </div>
                </div>
            </div>
            <div class="single-query">
                <input type="number" name="EcologicalQualityDateYear" placeholder="查询年份" class="EcologicalQualityDateYear">
                <div class="single-query-btn" data-value="EcologicalQuality">确定</div>
            </div>
        </div>
    </div>
    <div class="eva4">
        <header class="headerTitle">
            <h2>类别划分</h2>
        </header>
        <div class="categoryProcessEvaluation">
            <header class="header2Title">
                <h3>资源利用效率变化</h3>
            </header>
            <div class="UtilizationEfficiencyOfResourcesCategory-list a-list">
                <div class="list-group">
                    <i class="fa fa-tag fa-2x"></i>
                    <span class="UtilizationEfficiencyOfResourcesCategoryResult"></span>
                </div>
            </div>
            <header class="header2Title">
                <h3>污染物排放强度变化</h3>
            </header>
            <div class="EmissionIntensityOfPollutantsCategory-list a-list">
                <div class="list-group">
                    <i class="fa fa-tag fa-2x"></i>
                    <span class="EmissionIntensityOfPollutantsCategoryResult"></span>
                </div>
            </div>
            <header class="header2Title">
                <h3>生态质量变化</h3>
            </header>
            <div class="EcologicalQualityCategory-list a-list">
                <div class="list-group">
                    <i class="fa fa-tag fa-2x"></i>
                    <span class="EcologicalQualityCategoryResult"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="header">
    <div class="date">
        <input type="number" name="dateYear" placeholder="查询年份" class="dateYear">
    </div>
    <a href="/api/logout" class="logout-btn">
        <div>离开</div>
    </a>
    <a class="query-btn"><div>确定</div></a>
    <a href="#/DRC/help" class="help"><div><i class="fa fa-question-circle-o animated pulse infinite"></i>查看帮助</div></a>
</header>
<div class="tips">
    <div class="tips-body">
        <i class="fa fa-exclamation-triangle"></i>
        <strong>Caution</strong>
        <p class="tips-text"></p>
    </div>
</div>
<div class="background"></div>