<style>
    .EPB-EvaluationOfEnvironment-Water-count{
        text-align: center;
        font-size: 20px;
    }
    .EPB-EvaluationOfEnvironment-Water-count > input{
    display: inline-block;
    border: none;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    width: auto;
    font-size: 20px;
}
.EPB-EvaluationOfEnvironment-Water-count > div{
    display: inline-block;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    border-radius: 4px;
    padding: 4px 5px 5px 5px;
    cursor: pointer;
    width: 80px;
    margin-top: 1px;
    margin-left: 5px;
}
.list.category > div > header > span{
    font-size: 24px;
}
header{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
@media screen and (max-width:568px) {
    .EPB-EvaluationOfEnvironment-Water-count{
        font-size: initial;
    }
    .EPB-EvaluationOfEnvironment-Water-count > input{
        font-size: initial;
    }
}
</style>
<div class="container">
    <div class="list category animated">
        <div class="EPB-EvaluationOfEnvironment-Air">
            <header style="margin-bottom:5px;">
                <span>
                    <h2>环境评价</h2>
                </span>
            </header>
            <header>
                <span>大气环境质量检测(单位:μg/m<sup>3</sup>)</span>
            </header>
            <form class="EPB-EvaluationOfEnvironment-Air-form form">
                <div class="form-group">
                    <label class="labels" for="so2v-category">SO
                        <sub>2</sub>监测值</label>
                    <input class="form-input" type="number" name="so2v" id="so2v-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="no2v-category">NO
                        <sub>2</sub>监测值</label>
                    <input class="form-input" type="number" name="no2v" id="no2v-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pm10v-category">PM
                        <sub>10</sub>监测值</label>
                    <input class="form-input" type="number" name="pm10v" id="pm10v-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="cov-category">CO监测值</label>
                    <input class="form-input" type="number" name="cov" id="cov-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="o3v-category">O
                        <sub>3</sub>监测值</label>
                    <input class="form-input" type="number" name="o3v" id="o3v-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pm2d5v-category">PM
                        <sub>2.5</sub>监测值</label>
                    <input class="form-input" type="number" name="pm2d5v" id="pm2d5v-category">
                </div>
            </form>
        </div>
        <div class="EPB-EvaluationOfEnvironment-Water">
            <header>
                <span>水环境质量检测值(单位:pH无量纲, mg/L)</span>
            </header>
            <div class="EPB-EvaluationOfEnvironment-Water-count"><input type="number" placeholder="需要计算的断面总数k"><div class="count-btn">确定</div></div>
        </div>
        <div class="EPB-EvaluationOfEnvironment">
            <form class="EPB-EvaluationOfEnvironment-form form">
                <div class="form-group">
                    <label class="labels" for="EvaluationOfEnvironmentDateYear-category">数据年份</label>
                    <input class="form-input" type="number" name="EvaluationOfEnvironmentDateYear" id="EvaluationOfEnvironmentDateYear-category">
                </div>
            </form>
        </div>
        <div class="EPB-EvaluationOfUrbanizationArea">
            <header style="margin-bottom:5px;">
                <span>
                    <h2>城市化地区评价</h2>
                </span>
            </header>
            <form class="EPB-EvaluationOfUrbanizationArea-form form">                    
                <div class="form-group">
                    <label class="labels" for="chengshiyujianzhizhenzongmianji-category">城市与建制镇总面积(单位:平方公里)</label>
                    <input class="form-input" type="number" step="10" name="chengshiyujianzhizhenzongmianji" id="chengshiyujianzhizhenzongmianji-category">
                </div>
            </form>
            <header>
                <span>城市水环境评价</span>
            </header>
            <form class="EPB-EvaluationOfUrbanizationArea-form form">
                <div class="form-group">
                    <label class="labels" for="chengshishuihuanjingpingjiaquyuquyu-category">[优化开发区域/重点开发区域]</label>
                    <div class="toggle-input">
                        <input class="form-input" type="checkbox" name="chengshishuihuanjingpingjiaquyuquyu" id="chengshishuihuanjingpingjiaquyuquyu-category">
                        <label class="labels" for="chengshishuihuanjingpingjiaquyuquyu-category"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="labels" for="heichoushuitishicechangdu-category">黑臭水体实测长度(米)</label>
                    <input class="form-input" type="number" name="heichoushuitishicechangdu" id="heichoushuitishicechangdu-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="zhongduheichoushuitichangdu-category">重度黑臭水体长度(米)</label>
                    <input class="form-input" type="number" name="zhongduheichoushuitichangdu" id="zhongduheichoushuitichangdu-category">
                </div>
            </form>
            <header>
                <span>城市空气环境质量评价</span>
            </header>
            <form class="EPB-EvaluationOfUrbanizationArea-form form">
                <div class="form-group">
                    <label class="labels" for="hexinchengshizhuchengqu-category">核心城市主城区[否/是]</label>
                    <div class="toggle-input">
                        <input class="form-input" type="checkbox" name="hexinchengshizhuchengqu" id="hexinchengshizhuchengqu-category">
                        <label class="labels" for="hexinchengshizhuchengqu-category"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="labels" for="pm2d5nianchaobiaotianshu-category">PM2.5年超标天数</label>
                    <input class="form-input" type="number" name="pm2d5nianchaobiaotianshu" id="pm2d5nianchaobiaotianshu-category">
                </div>
            </form>
            <form class="EPB-EvaluationOfUrbanizationArea-form form">
                <div class="form-group">
                    <label class="labels" for="EvaluationOfUrbanizationAreaDateYear-category">数据年份</label>
                    <input class="form-input" type="number" name="EvaluationOfUrbanizationAreaDateYear" id="EvaluationOfUrbanizationAreaDateYear-category">
                </div>
            </form>
        </div>
        <div class="EPB-EmissionIntensityOfPollutants">
            <header style="margin-bottom:5px;">
                <span>
                    <h2>污染物排放强度变化</h2>
                </span>
            </header>
            <form class="EPB-EmissionIntensityOfPollutants-form form">
                <div class="form-group">
                    <label class="labels" for="jizhunnian-category">基准年</label>
                    <input class="form-input" type="number" min="1949" name="jizhunnian" id="jizhunnian-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianian-category">评价年</label>
                    <input class="form-input" type="number" min="1949" name="pingjianian" id="pingjianian-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="jizhunnianGDP-category">基准年GDP(单位:亿元)</label>
                    <input class="form-input" type="number" name="jizhunnianGDP" id="jizhunnianGDP-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianianGDP-category">评价年GDP(单位:亿元)</label>
                    <input class="form-input" type="number" name="pingjianianGDP" id="pingjianianGDP-category">
                </div>
            </form>
        </div>
        <div class="EPB-EmissionIntensityOfPollutants-Water-o">
            <header>
                <span>水污染物(化学需氧量)排放强度变化</span>
            </header>
            <form class="EPB-EmissionIntensityOfPollutants-Water-o-form form">
                <div class="form-group">
                    <label class="labels" for="jizhunnianxingzhengquyuneihuaxuexuyangliang-category">基准年行政区域内化学需氧量(单位:吨)</label>
                    <input class="form-input" type="number" name="jizhunnianxingzhengquyuneihuaxuexuyangliang" id="jizhunnianxingzhengquyuneihuaxuexuyangliang-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianianxingzhengquyuneihuaxuexuyangliang-category">评价年行政区域内化学需氧量(单位:吨)</label>
                    <input class="form-input" type="number" name="pingjianianxingzhengquyuneihuaxuexuyangliang" id="pingjianianxingzhengquyuneihuaxuexuyangliang-category">
                </div>
                <div class="form-group" style="display:none;">
                    <label class="labels" for="quanguonianjunhuaxuexuyangliangpaifangqiangduzengsushuiping-category">全国年均化学需氧量排放强度增速平均水平(格式:小数)</label>
                    <input class="form-input" type="number" name="quanguonianjunhuaxuexuyangliangpaifangqiangduzengsushuiping" id="quanguonianjunhuaxuexuyangliangpaifangqiangduzengsushuiping-category" value="-0.1085">
                </div>
            </form>
        </div>
        <div class="EPB-EmissionIntensityOfPollutants-Water-n">
            <header>
                <span>水污染物(氨氮)排放强度变化</span>
            </header>
            <form class="EPB-EmissionIntensityOfPollutants-Water-n-form form">
                <div class="form-group">
                    <label class="labels" for="jizhunnianxingzhengquneiandanpaifangliang-category">基准年行政区域内氨氮排放量(单位:吨)</label>
                    <input class="form-input" type="number" name="jizhunnianxingzhengquneiandanpaifangliang" id="jizhunnianxingzhengquneiandanpaifangliang-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianianxingzhengquyuneiandanpaifangliang-category">评价年行政区域内氨氮排放量(单位:吨)</label>
                    <input class="form-input" type="number" name="pingjianianxingzhengquyuneiandanpaifangliang" id="pingjianianxingzhengquyuneiandanpaifangliang-category">
                </div>
                <div class="form-group" style="display:none;">
                    <label class="labels" for="quanguonianjunandanpaifangqiangduzengsupingjunshuiping-category">全国年均氨氮排放强度增速平均水平(格式:小数)</label>
                    <input class="form-input" type="number" name="quanguonianjunandanpaifangqiangduzengsupingjunshuiping" id="quanguonianjunandanpaifangqiangduzengsupingjunshuiping-category" value="-0.1102">
                </div>
            </form>
        </div>
        <div class="EPB-EmissionIntensityOfPollutants-Air-so2">
            <header>
                <span>大气污染物污染物(二氧化硫)排放强度变化</span>
            </header>
            <form class="EPB-EmissionIntensityOfPollutants-Air-so2-form form">
                <div class="form-group">
                    <label class="labels" for="jizhunnianxingzhengquyuneieryanghualiupaifangliang-category">基准年行政区域内二氧化硫排放量(单位:吨)</label>
                    <input class="form-input" type="number" name="jizhunnianxingzhengquyuneieryanghualiupaifangliang" id="jizhunnianxingzhengquyuneieryanghualiupaifangliang-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianianxingzhengquyuneieryanghualiupaifangliang-category">评价年行政区域内二氧化硫排放量(单位:吨)</label>
                    <input class="form-input" type="number" name="pingjianianxingzhengquyuneieryanghualiupaifangliang" id="pingjianianxingzhengquyuneieryanghualiupaifangliang-category">
                </div>
                <div class="form-group" style="display:none;">
                    <label class="labels" for="quanguonianjuneryanghualiupaifangqiangduzengsupingjunshuiping-category">全国年均二氧化硫排放强度增速平均水平(格式:小数)</label>
                    <input class="form-input" type="number" name="quanguonianjuneryanghualiupaifangqiangduzengsupingjunshuiping" id="quanguonianjuneryanghualiupaifangqiangduzengsupingjunshuiping-category" value="-0.1216">
                </div>
            </form>
        </div>
        <div class="EPB-EmissionIntensityOfPollutants-Air-no">
            <header>
                <span>大气污染物污染物(氮氧化物)排放强度变化</span>
            </header>
            <form class="EPB-EmissionIntensityOfPollutants-Air-no-form form">
                <div class="form-group">
                    <label class="labels" for="jizhunnianxingzhengquyuneidanyanghuawupaifangliang-category">基准年行政区域内氮氧化物排放量(单位:吨)</label>
                    <input class="form-input" type="number" name="jizhunnianxingzhengquyuneidanyanghuawupaifangliang" id="jizhunnianxingzhengquyuneidanyanghuawupaifangliang-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianianxingzhengquyuneidanyanghuawupaifangliang-category">评价年行政区域内氮氧化物排放量(单位:吨)</label>
                    <input class="form-input" type="number" name="pingjianianxingzhengquyuneidanyanghuawupaifangliang" id="pingjianianxingzhengquyuneidanyanghuawupaifangliang-category">
                </div>
                <div class="form-group">
                    <label class="labels input-active" for="quanguonianjundanyanghuawupaifangqiangduzengsupingjunshuiping-category">全国年均氮氧化物排放强度增速平均水平(格式:小数)</label>
                    <input class="form-input" type="number" name="quanguonianjundanyanghuawupaifangqiangduzengsupingjunshuiping" id="quanguonianjundanyanghuawupaifangqiangduzengsupingjunshuiping-category" value="-0.1401" readonly="readonly">
                </div>
            </form>
        </div>
        <div class="form-submit category">确认</div>
    </div>
</div>
<header class="header">
    <div><i class="fa fa-angle-right"></i>欢迎您，环保局的朋友</div>
    <a href="#/EPB/help" class="help"><div><i class="fa fa-question-circle-o animated pulse infinite"></i>查看帮助</div></a>
    <a href="/api/logout" class="logout-btn"><div>离开</div></a>
</header>
<div class="tips">
    <div class="tips-body">
        <i class="fa fa-exclamation-triangle"></i>
        <strong>Caution</strong>
        <p class="tips-text"></p>
    </div>
</div>
<div class="background"></div>