<!DOCTYPE html>
<html lang="cn">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/app.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <script src="/static/js/lib.js"></script>
        <script src="/static/js/router.js"></script>
        <script src="/static/js/app.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="list all animated">
                <form class="list-form all form">
                    <div class="form-group">
                        <label class="labels" for="so2v-all">SO<sub>2</sub>监测值</label>
                        <input class="form-input" type="number" min="0" name="so2v" id="so2v-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="no2v-all">NO<sub>2</sub>监测值</label>
                        <input class="form-input" type="number" min="0" name="no2v" id="no2v-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pm10v-all">PM<sub>10</sub>监测值</label>
                        <input class="form-input" type="number" min="0" name="pm10v" id="pm10v-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="cov-all">CO监测值</label>
                        <input class="form-input" type="number" min="0" name="cov" id="cov-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="o3v-all">O<sub>3</sub>监测值</label>
                        <input class="form-input" type="number" min="0" name="o3v" id="o3v-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pm2d5v-all">PM<sub>2.5</sub>监测值</label>
                        <input class="form-input" type="number" min="0" name="pm2d5v" id="pm2d5v-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="dov-all">DO监测值</label>
                        <input class="form-input" type="number" min="0" name="dov" id="dov-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="codmnv-all">COD<sub>Mn</sub>监测值</label>
                        <input class="form-input" type="number" min="0" name="codmnv" id="codmnv-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="bod5v-all">BOD<sub>5</sub>监测值</label>
                        <input class="form-input" type="number" min="0" name="bod5v" id="bod5v-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="codcrv-all">COD<sub>Cr</sub>监测值</label>
                        <input class="form-input" type="number" min="0" name="codcrv" id="codcrv-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="nh3nv-all">NH<sub>3</sub>-N监测值</label>
                        <input class="form-input" type="number" min="0" name="nh3nv" id="nh3nv-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="tnv-all">TN监测值</label>
                        <input class="form-input" type="number" min="0" name="tnv" id="tnv-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="tpv-all">TP监测值</label>
                        <input class="form-input" type="number" min="0" name="tpv" id="tpv-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="chengshishuihuanjingpingjiaquyu-all">[优化开发区域/重点开发区域]</label>
                        <div class="toggle-input">
                            <input class="form-input" type="checkbox" name="chengshishuihuanjingpingjiaquyu" id="chengshishuihuanjingpingjiaquyu-all">
                            <label class="labels" for="chengshishuihuanjingpingjiaquyu-all"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="labels" for="heichoushuitishicechangdu-all">黑臭水体实测长度(米)</label>
                        <input class="form-input" type="number" min="0" name="heichoushuitishicechangdu" id="heichoushuitishicechangdu-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="zhongduheichoushuitichangdu-all">重度黑臭水体长度(米)</label>
                        <input class="form-input" type="number" min="0" name="zhongduheichoushuitichangdu" id="zhongduheichoushuitichangdu-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="hexinchengshizhuchengqu-all">核心城市主城区[否/是]</label>
                        <div class="toggle-input">
                            <input class="form-input" type="checkbox" name="hexinchengshizhuchengqu" id="hexinchengshizhuchengqu-all">
                            <label class="labels" for="hexinchengshizhuchengqu-all"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pm2d5nianchaobiaotianshu-all">PM2.5年超标天数</label>
                        <input class="form-input" type="number" min="0" name="pm2d5nianchaobiaotianshu" id="pm2d5nianchaobiaotianshu-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="jizhunnian-all">基准年</label>
                        <input class="form-input" type="number" min="1949" name="jizhunnian" id="jizhunnian-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pingjianian-all">评价年</label>
                        <input class="form-input" type="number" min="1949" name="pingjianian" id="pingjianian-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="jizhunnianGDP-all">基准年GDP</label>
                        <input class="form-input" type="number" min="0" name="jizhunnianGDP" id="jizhunnianGDP-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pingjianianGDP-all">评价年GDP</label>
                        <input class="form-input" type="number" min="0" name="pingjianianGDP" id="pingjianianGDP-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="jizhunnianxingzhengquyuneihuaxuexuyangliang-all">基准年行政区域内化学需氧量</label>
                        <input class="form-input" type="number" min="0" name="jizhunnianxingzhengquyuneihuaxuexuyangliang" id="jizhunnianxingzhengquyuneihuaxuexuyangliang-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pingjianianxingzhengquyuneihuaxuexuyangliang-all">评价年行政区域内化学需氧量</label>
                        <input class="form-input" type="number" min="0" name="pingjianianxingzhengquyuneihuaxuexuyangliang" id="pingjianianxingzhengquyuneihuaxuexuyangliang-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="quanguonianjunhuaxuexuyangliangpaifangqiangduzengsushuiping-all">全国年均化学需氧量排放强度增速平均水平</label>
                        <input class="form-input" type="number" min="0" name="quanguonianjunhuaxuexuyangliangpaifangqiangduzengsushuiping" id="quanguonianjunhuaxuexuyangliangpaifangqiangduzengsushuiping-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="jizhunnianxingzhengquneiandanpaifangliang-all">基准年行政区域内氨氮排放量</label>
                        <input class="form-input" type="number" min="0" name="jizhunnianxingzhengquneiandanpaifangliang" id="jizhunnianxingzhengquneiandanpaifangliang-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pingjianianxingzhengquyuneiandanpaifangliang-all">评价年行政区域内氨氮排放量</label>
                        <input class="form-input" type="number" min="0" name="pingjianianxingzhengquyuneiandanpaifangliang" id="pingjianianxingzhengquyuneiandanpaifangliang-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="quanguonianjunandanpaifangqiangduzengsupingjunshuiping-all">全国年均氨氮排放强度增速平均水平</label>
                        <input class="form-input" type="number" min="0" name="quanguonianjunandanpaifangqiangduzengsupingjunshuiping" id="quanguonianjunandanpaifangqiangduzengsupingjunshuiping-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="jizhunnianxingzhengquyuneieryanghualiupaifangliang-all">基准年行政区域内二氧化硫排放量</label>
                        <input class="form-input" type="number" min="0" name="jizhunnianxingzhengquyuneieryanghualiupaifangliang" id="jizhunnianxingzhengquyuneieryanghualiupaifangliang-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pingjianianxingzhengquyuneieryanghualiupaifangliang-all">评价年行政区域内二氧化硫排放量</label>
                        <input class="form-input" type="number" min="0" name="pingjianianxingzhengquyuneieryanghualiupaifangliang" id="pingjianianxingzhengquyuneieryanghualiupaifangliang-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="quanguonianjuneryanghualiupaifangqiangduzengsupingjunshuiping-all">全国年均二氧化硫排放强度增速平均水平</label>
                        <input class="form-input" type="number" min="0" name="quanguonianjuneryanghualiupaifangqiangduzengsupingjunshuiping" id="quanguonianjuneryanghualiupaifangqiangduzengsupingjunshuiping-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="jizhunnianxingzhengquyuneidanyanghuawupaifangliang-all">基准年行政区域内氮氧化物排放量</label>
                        <input class="form-input" type="number" min="0" name="jizhunnianxingzhengquyuneidanyanghuawupaifangliang" id="jizhunnianxingzhengquyuneidanyanghuawupaifangliang-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pingjianianxingzhengquyuneidanyanghuawupaifangliang-all">评价年行政区域内氮氧化物排放量</label>
                        <input class="form-input" type="number" min="0" name="pingjianianxingzhengquyuneidanyanghuawupaifangliang" id="pingjianianxingzhengquyuneidanyanghuawupaifangliang-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="quanguonianjundanyanghuawupaifangqiangduzengsupingjunshuiping-all">全国年均氮氧化物排放强度增速平均水平</label>
                        <input class="form-input" type="number" min="0" name="quanguonianjundanyanghuawupaifangqiangduzengsupingjunshuiping" id="quanguonianjundanyanghuawupaifangqiangduzengsupingjunshuiping-all">
                    </div>
                    <div class="form-submit all">确认</div>
                </form>
            </div>
            <div class="list category animated">
                <div class="EPB-EvaluationOfEnvironment-Air">
                    <header style="margin-bottom:5px;"><span><h2>环境评价</h2></span></header>
                    <header><span>大气环境质量检测</span></header>
                    <form class="EPB-EvaluationOfEnvironment-Air-form form">
                            <div class="form-group">
                                <label class="labels" for="so2v-category">SO<sub>2</sub>监测值</label>
                                <input class="form-input" type="number" min="0" name="so2v" id="so2v-category">
                            </div>
                            <div class="form-group">
                                <label class="labels" for="no2v-category">NO<sub>2</sub>监测值</label>
                                <input class="form-input" type="number" min="0" name="no2v" id="no2v-category">
                            </div>
                            <div class="form-group">
                                <label class="labels" for="pm10v-category">PM<sub>10</sub>监测值</label>
                                <input class="form-input" type="number" min="0" name="pm10v" id="pm10v-category">
                            </div>
                            <div class="form-group">
                                <label class="labels" for="cov-category">CO监测值</label>
                                <input class="form-input" type="number" min="0" name="cov" id="cov-category">
                            </div>
                            <div class="form-group">
                                <label class="labels" for="o3v-category">O<sub>3</sub>监测值</label>
                                <input class="form-input" type="number" min="0" name="o3v" id="o3v-category">
                            </div>
                            <div class="form-group">
                                <label class="labels" for="pm2d5v-category">PM<sub>2.5</sub>监测值</label>
                                <input class="form-input" type="number" min="0" name="pm2d5v" id="pm2d5v-category">
                            </div>
                    </form>
                </div>
                <div class="EPB-EvaluationOfEnvironment-Water">
                    <header><span>水环境质量检测值</span></header>
                    <form class="EPB-EvaluationOfEnvironment-Water-form form">
                        <div class="form-group">
                            <label class="labels" for="dov-category">DO监测值</label>
                            <input class="form-input" type="number" min="0" name="dov" id="dov-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="codmnv-category">COD<sub>Mn</sub>监测值</label>
                            <input class="form-input" type="number" min="0" name="codmnv" id="codmnv-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="bod5v-category">BOD<sub>5</sub>监测值</label>
                            <input class="form-input" type="number" min="0" name="bod5v" id="bod5v-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="codcrv-category">COD<sub>Cr</sub>监测值</label>
                            <input class="form-input" type="number" min="0" name="codcrv" id="codcrv-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="nh3nv-category">NH<sub>3</sub>-N监测值</label>
                            <input class="form-input" type="number" min="0" name="nh3nv" id="nh3nv-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="tnv-category">TN监测值</label>
                            <input class="form-input" type="number" min="0" name="tnv" id="tnv-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="tpv-category">TP监测值</label>
                            <input class="form-input" type="number" min="0" name="tpv" id="tpv-category">
                        </div>
                    </form>
                </div> 
                <div class="EPB-EvaluationOfUrbanizationArea">
                    <header style="margin-bottom:5px;"><span><h2>城市化地区评价</h2></span></header>
                    <header><span>城市水环境评价</span></header>
                    <form class="EPB-EvaluationOfUrbanizationArea-form form">
                        <div class="form-group">
                            <label class="labels" for="chengshishuihuanjingpingjiaquyuquyu-category">[优化开发区域/重点开发区域]</label>
                            <div class="toggle-input">
                                <input class="form-input" type="checkbox" name="chengshishuihuanjingpingjiaquyuquyu" id="chengshishuihuanjingpingjiaquyuquyu-category">
                                <label class="labels" for="chengshishuihuanjingpingjiaquyuquyu-category"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="labels" for="heichoushuitishicechangdu-category">黑臭水体实测长度(米)</label>
                            <input class="form-input" type="number" min="0" name="heichoushuitishicechangdu" id="heichoushuitishicechangdu-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="zhongduheichoushuitichangdu-category">重度黑臭水体长度(米)</label>
                            <input class="form-input" type="number" min="0" name="zhongduheichoushuitichangdu" id="zhongduheichoushuitichangdu-category">
                        </div>
                    </form>
                    <header><span>城市空气环境质量评价</span></header>
                    <form class="EPB-EvaluationOfUrbanizationArea-form form">
                        <div class="form-group">
                            <label class="labels" for="hexinchengshizhuchengqu-category">核心城市主城区[否/是]</label>
                            <div class="toggle-input">
                                <input class="form-input" type="checkbox" name="hexinchengshizhuchengqu" id="hexinchengshizhuchengqu-category">
                                <label class="labels" for="hexinchengshizhuchengqu-category"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="labels" for="pm2d5nianchaobiaotianshu-category">PM2.5年超标天数</label>
                            <input class="form-input" type="number" min="0" name="pm2d5nianchaobiaotianshu" id="pm2d5nianchaobiaotianshu-category">
                        </div>
                    </form>
                </div>
                <div class="EPB-EmissionIntensityOfPollutants">
                    <header style="margin-bottom:5px;"><span><h2>污染物排放强度变化</h2></span></header>
                    <form class="EPB-EmissionIntensityOfPollutants-form form">
                        <div class="form-group">
                            <label class="labels" for="jizhunnian-category">基准年</label>
                            <input class="form-input" type="number" min="1949" name="jizhunnian" id="jizhunnian-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="pingjianian-category">评价年</label>
                            <input class="form-input" type="number" min="1949" name="pingjianian" id="pingjianian-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="jizhunnianGDP-category">基准年GDP</label>
                            <input class="form-input" type="number" min="0" name="jizhunnianGDP" id="jizhunnianGDP-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="pingjianianGDP-category">评价年GDP</label>
                            <input class="form-input" type="number" min="0" name="pingjianianGDP" id="pingjianianGDP-category">
                        </div>
                    </form>
                </div>
                <div class="EPB-EmissionIntensityOfPollutants-Water-o">
                    <header><span>水污染物(化学需氧量)排放强度变化</span></header>
                    <form class="EPB-EmissionIntensityOfPollutants-Water-o-form form">
                        <div class="form-group">
                            <label class="labels" for="jizhunnianxingzhengquyuneihuaxuexuyangliang-category">基准年行政区域内化学需氧量</label>
                            <input class="form-input" type="number" min="0" name="jizhunnianxingzhengquyuneihuaxuexuyangliang" id="jizhunnianxingzhengquyuneihuaxuexuyangliang-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="pingjianianxingzhengquyuneihuaxuexuyangliang-category">评价年行政区域内化学需氧量</label>
                            <input class="form-input" type="number" min="0" name="pingjianianxingzhengquyuneihuaxuexuyangliang" id="pingjianianxingzhengquyuneihuaxuexuyangliang-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="quanguonianjunhuaxuexuyangliangpaifangqiangduzengsushuiping-category">全国年均化学需氧量排放强度增速平均水平</label>
                            <input class="form-input" type="number" min="0" name="quanguonianjunhuaxuexuyangliangpaifangqiangduzengsushuiping" id="quanguonianjunhuaxuexuyangliangpaifangqiangduzengsushuiping-category">
                        </div>
                    </form>
                </div>
                <div class="EPB-EmissionIntensityOfPollutants-Water-n">
                    <header><span>水污染物(氨氮)排放强度变化</span></header>
                    <form class="EPB-EmissionIntensityOfPollutants-Water-n-form form">
                        <div class="form-group">
                            <label class="labels" for="jizhunnianxingzhengquneiandanpaifangliang-category">基准年行政区域内氨氮排放量</label>
                            <input class="form-input" type="number" min="0" name="jizhunnianxingzhengquneiandanpaifangliang" id="jizhunnianxingzhengquneiandanpaifangliang-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="pingjianianxingzhengquyuneiandanpaifangliang-category">评价年行政区域内氨氮排放量</label>
                            <input class="form-input" type="number" min="0" name="pingjianianxingzhengquyuneiandanpaifangliang" id="pingjianianxingzhengquyuneiandanpaifangliang-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="quanguonianjunandanpaifangqiangduzengsupingjunshuiping-category">全国年均氨氮排放强度增速平均水平</label>
                            <input class="form-input" type="number" min="0" name="quanguonianjunandanpaifangqiangduzengsupingjunshuiping" id="quanguonianjunandanpaifangqiangduzengsupingjunshuiping-category">
                        </div>
                    </form>
                </div>
                <div class="EPB-EmissionIntensityOfPollutants-Air-so2">
                    <header><span>大气污染物污染物(二氧化硫)排放强度变化</span></header>
                    <form class="EPB-EmissionIntensityOfPollutants-Air-so2-form form">
                        <div class="form-group">
                            <label class="labels" for="jizhunnianxingzhengquyuneieryanghualiupaifangliang-category">基准年行政区域内二氧化硫排放量</label>
                            <input class="form-input" type="number" min="0" name="jizhunnianxingzhengquyuneieryanghualiupaifangliang" id="jizhunnianxingzhengquyuneieryanghualiupaifangliang-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="pingjianianxingzhengquyuneieryanghualiupaifangliang-category">评价年行政区域内二氧化硫排放量</label>
                            <input class="form-input" type="number" min="0" name="pingjianianxingzhengquyuneieryanghualiupaifangliang" id="pingjianianxingzhengquyuneieryanghualiupaifangliang-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="quanguonianjuneryanghualiupaifangqiangduzengsupingjunshuiping-category">全国年均二氧化硫排放强度增速平均水平</label>
                            <input class="form-input" type="number" min="0" name="quanguonianjuneryanghualiupaifangqiangduzengsupingjunshuiping" id="quanguonianjuneryanghualiupaifangqiangduzengsupingjunshuiping-category">
                        </div>
                    </form>
                </div>
                <div class="EPB-EmissionIntensityOfPollutants-Air-no">
                    <header><span>大气污染物污染物(氮氧化物)排放强度变化</span></header>
                    <form class="EPB-EmissionIntensityOfPollutants-Air-no-form form">
                        <div class="form-group">
                            <label class="labels" for="jizhunnianxingzhengquyuneidanyanghuawupaifangliang-category">基准年行政区域内氮氧化物排放量</label>
                            <input class="form-input" type="number" min="0" name="jizhunnianxingzhengquyuneidanyanghuawupaifangliang" id="jizhunnianxingzhengquyuneidanyanghuawupaifangliang-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="pingjianianxingzhengquyuneidanyanghuawupaifangliang-category">评价年行政区域内氮氧化物排放量</label>
                            <input class="form-input" type="number" min="0" name="pingjianianxingzhengquyuneidanyanghuawupaifangliang" id="pingjianianxingzhengquyuneidanyanghuawupaifangliang-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="quanguonianjundanyanghuawupaifangqiangduzengsupingjunshuiping-category">全国年均氮氧化物排放强度增速平均水平</label>
                            <input class="form-input" type="number" min="0" name="quanguonianjundanyanghuawupaifangqiangduzengsupingjunshuiping" id="quanguonianjundanyanghuawupaifangqiangduzengsupingjunshuiping-category">
                        </div>
                    </form>
                </div>
                <div class="form-submit category">确认</div>
            </div>
        </div>
        <header class="header">
            <a href="#/all"><div>直接录入</div></a>
            <i class="fa fa-angle-right fa-2x"></i>
            <a href="#/category"><div>分类录入</div></a>
        </header>
        <div class="tips">
            <div class="tips-body">
                <i class="fa fa-exclamation-triangle"></i>
                <strong>Caution</strong>
                <p class="tips-text"></p>
            </div>
        </div>
    </body>
</html>