<div class="container">
    <div class="list category animated">
        <div class="FB-EvaluationOfEcological">
            <header>
                <span>生态评价</span>
            </header>
            <form class="FB-EvaluationOfEcological-form form">
                <div class="form-group">
                    <label class="labels" for="zhongduyishangshuituliushimianji-category">中度以上水土流失面积(单位:平方公里)</label>
                    <input class="form-input" type="number" min="0" name="zhongduyishangshuituliushimianji" id="zhongduyishangshuituliushimianji-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="zhongduyishangtudishahuamianji-category">中度以上土地沙化面积(单位:平方公里)</label>
                    <input class="form-input" type="number" min="0" name="zhongduyishangtudishahuamianji" id="zhongduyishangtudishahuamianji-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="zhongduyishangyanzihuamianji-category">中度以上盐渍化面积(单位:平方公里)</label>
                    <input class="form-input" type="number" min="0" name="zhongduyishangyanzihuamianji" id="zhongduyishangyanzihuamianji-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="zhongduyishangshimohuamianji-category">中度以上石漠化面积(单位:平方公里)</label>
                    <input class="form-input" type="number" min="0" name="zhongduyishangshimohuamianji" id="zhongduyishangshimohuamianji-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjiaquyutudimianji-category">评价区域土地面积(单位:平方公里)</label>
                    <input class="form-input" type="number" min="0" name="pingjiaquyutudimianji" id="pingjiaquyutudimianji-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="EvaluationOfEcologicalDateYear-category">数据年份</label>
                    <input class="form-input" type="number" name="EvaluationOfEcologicalDateYear" id="EvaluationOfEcologicalDateYear-category">
                </div>
            </form>
        </div>
        <div class="FB-EvaluationOfKeyEcologicalFunctionArea">
            <header>
                <span>重点生态功能区评价</span>
            </header>
            <form class="FB-EvaluationOfKeyEcologicalFunctionArea-form form">
                <div class="form-group">
                    <label class="labels" for="shuitulishimianji-category">强烈及以上水土流失面积(单位:平方公里)</label>
                    <input class="form-input" type="number" step="0.1" name="shuitulishimianji" id="shuitulishimianji-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="xingzhengquyumianji-category">行政区域面积(单位:平方公里)</label>
                    <input class="form-input" type="number" step="0.1" name="xingzhengquyumianji" id="xingzhengquyumianji-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="EvaluationOfKeyEcologicalFunctionAreaDateYear-category">数据年份</label>
                    <input class="form-input" type="number" name="EvaluationOfKeyEcologicalFunctionAreaDateYear" id="EvaluationOfKeyEcologicalFunctionAreaDateYear-category">
                </div>
            </form>
        </div>
        <div class="FB-EcologicalQuality">
            <header>
                <span>林草覆盖率变化</span>
            </header>
            <form class="FB-EcologicalQuality-form form">
                <div class="form-group">
                    <label class="labels" for="jizhunnian-category">基准年</label>
                    <input class="form-input" type="number" min="1949" name="jizhunnian" id="jizhunnian-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianian-category">评价年</label>
                    <input class="form-input" type="number" min="1949" name="pingjianian" id="pingjianian-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="jizhunnianingzhengquyuneilincaofugailv-category">基准年行政区域内林草覆盖率(格式:小数)</label>
                    <input class="form-input" type="number" min="0" name="jizhunnianingzhengquyuneilincaofugailv" id="jizhunnianingzhengquyuneilincaofugailv-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianianxingzhengquyuneilincaofugailv-category">评价年林草覆盖率(格式:小数)</label>
                    <input class="form-input" type="number" min="0" name="pingjianianxingzhengquyuneilincaofugailv" id="pingjianianxingzhengquyuneilincaofugailv-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="quanguonianjunlincaofugailvzengsupingjunshuiping-category">全国年均林草覆盖率变增速平均水平(格式:小数)</label>
                    <input class="form-input" type="number" min="0" name="quanguonianjunlincaofugailvzengsupingjunshuiping" id="quanguonianjunlincaofugailvzengsupingjunshuiping-category">
                </div>
            </form>
        </div>
        <div class="form-submit category">确认</div>
    </div>
</div>
<header class="header">
    <div><i class="fa fa-angle-right"></i>欢迎您，林业局的朋友</div>
    <a href="#/FB/help" class="help"><div><i class="fa fa-question-circle-o animated pulse infinite"></i>查看帮助</div></a>
    <a href="/api/logout" class="logout-btn"><div>离开</div></a>
</header>
<div class="tips">
    <div class="tips-body">
        <i class="fa fa-exclamation-triangle"></i>
        <strong>Caution</strong>
        <p class="tips-text"></p>
    </div>
</div>
<div class="background"></div>