<div class="container">
    <div class="list">
        <div class="wrap">
            <div class="username">
                <i class="fa fa-user icon" aria-hidden="true"></i>
                <div class="user-select input">
                    <span class="user-current">选择单位</span>
                    <ul class="user-list">
                        <li class="option" data-value="DRC">发改委</li>
                        <li class="option" data-value="BLR">国土局</li>
                        <li class="option" data-value="FB">林业局</li>
                        <li class="option" data-value="WA">水务局</li>
                        <li class="option" data-value="EPB">环保局</li>
                        <li class="option" data-value="Manager">网站管理员</li>
                    </ul>
                </div>
            </div>
            <div class="password">
                <i class="fa fa-lock icon" aria-hidden="true"></i>
                <input type="password" name="updatePassword" placeholder="修改密码" class="input">
            </div>
            <div class="password">
                <i class="fa fa-user-o icon" aria-hidden="true"></i>
                <input type="password" name="password" placeholder="管理员密码" class="input">
            </div>
            <div>
                <span class="submit-btn">确认修改</span>
            </div>
        </div>
    </div>
</div>
<header class="header">
    <a class="initialAll">
        <div>初始化</div>
    </a>
    <a href="/api/logout" class="logout-btn">
        <div>离开</div>
    </a>
    <a href="#/Manager/help" class="help"><div><i class="fa fa-question-circle-o animated pulse infinite"></i>查看帮助</div></a>
</header>
<div class="tips">
    <div class="tips-body">
        <i class="fa fa-exclamation-triangle"></i>
        <strong>Caution</strong>
        <p class="tips-text"></p>
    </div>
</div>
<div class="background"></div>