<!DOCTYPE html>
<html lang="cn">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/app.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <script src="/static/js/lib.js"></script>
        <script src="/static/js/router.js"></script>
        <script src="/static/js/app.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="list all animated">
                <form class="list-form all form">
                    <div class="form-group">
                        <label class="labels" for="yongshuiliang-all">用水量</label>
                        <input class="form-input" type="number" min="0" name="yongshuiliang" id="yongshuiliang-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="dixiashuigongshuizongliang-all">地下水供水总量</label>
                        <input class="form-input" type="number" min="0" name="dixiashuigongshuizongliang" id="dixiashuigongshuizongliang-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="yongshuiliangkongzhizhibiao-all">用水量控制指标</label>
                        <input class="form-input" type="number" min="0" name="yongshuiliangkongzhizhibiao" id="yongshuiliangkongzhizhibiao-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="dixiashuigongshuizhibiao-all">地下水供水指标</label>
                        <input class="form-input" type="number" min="0" name="dixiashuigongshuizhibiao" id="dixiashuigongshuizhibiao-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="dixiashuishifouchaocai-all">地下水是否超采[是/否]</label>
                        <div class="toggle-input">
                            <input class="form-input" type="checkbox" name="dixiashuishifouchaocai" id="dixiashuishifouchaocai-all">
                            <label class="labels" for="dixiashuishifouchaocai-all"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="labels" for="jizhunnianxingzhengquyuneiyongshuiliang-all">基准年行政区域内用水量</label>
                        <input class="form-input" type="number" min="0" name="jizhunnianxingzhengquyuneiyongshuiliang" id="jizhunnianxingzhengquyuneiyongshuiliang-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="pingjianianxingzhengquyuneiyongshuiliang-all">评价年行政区域内用水量</label>
                        <input class="form-input" type="number" min="0" name="pingjianianxingzhengquyuneiyongshuiliang" id="pingjianianxingzhengquyuneiyongshuiliang-all">
                    </div>
                    <div class="form-group">
                        <label class="labels" for="quanguonianjunshuiziyuanliyongxiaolvzengsupingjunshuiping-all">全国年均水资源利用效率增速平均水平</label>
                        <input class="form-input" type="number" min="0" name="quanguonianjunshuiziyuanliyongxiaolvzengsupingjunshuiping" id="quanguonianjunshuiziyuanliyongxiaolvzengsupingjunshuiping-all">
                    </div>
                    <div class="form-submit all">确认</div>
                </form>
            </div>
            <div class="list category animated">
                <div class="WA-EvaluationOfWarterResources">
                    <header><span>水资源评价</span></header>
                    <form class="WA-EvaluationOfWarterResources-form form">
                            <div class="form-group">
                                <label class="labels" for="yongshuiliang-category">用水量</label>
                                <input class="form-input" type="number" min="0" name="yongshuiliang" id="yongshuiliang-category">
                            </div>
                            <div class="form-group">
                                <label class="labels" for="dixiashuigongshuizongliang-category">地下水供水总量</label>
                                <input class="form-input" type="number" min="0" name="dixiashuigongshuizongliang" id="dixiashuigongshuizongliang-category">
                            </div>
                            <div class="form-group">
                                <label class="labels" for="yongshuiliangkongzhizhibiao-category">用水量控制指标</label>
                                <input class="form-input" type="number" min="0" name="yongshuiliangkongzhizhibiao" id="yongshuiliangkongzhizhibiao-category">
                            </div>
                            <div class="form-group">
                                <label class="labels" for="dixiashuigongshuizhibiao-category">地下水供水指标</label>
                                <input class="form-input" type="number" min="0" name="dixiashuigongshuizhibiao" id="dixiashuigongshuizhibiao-category">
                            </div>
                            <div class="form-group">
                                <label class="labels" for="dixiashuishifouchaocai-category">地下水是否超采[是/否]</label>
                                <div class="toggle-input">
                                    <input class="form-input" type="checkbox" name="dixiashuishifouchaocai" id="dixiashuishifouchaocai-category">
                                    <label class="labels" for="dixiashuishifouchaocai-category"></label>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="WA-UtilizationEfficiencyOfWarterResources">
                    <header><span>水资源利用效率变化</span></header>
                    <form class="WA-UtilizationEfficiencyOfWarterResources-form form">
                        <div class="form-group">
                            <label class="labels" for="jizhunnianxingzhengquyuneiyongshuiliang-category">基准年行政区域内用水量</label>
                            <input class="form-input" type="number" min="0" name="jizhunnianxingzhengquyuneiyongshuiliang" id="jizhunnianxingzhengquyuneiyongshuiliang-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="pingjianianxingzhengquyuneiyongshuiliang-category">评价年行政区域内用水量</label>
                            <input class="form-input" type="number" min="0" name="pingjianianxingzhengquyuneiyongshuiliang" id="pingjianianxingzhengquyuneiyongshuiliang-category">
                        </div>
                        <div class="form-group">
                            <label class="labels" for="quanguonianjunshuiziyuanliyongxiaolvzengsupingjunshuiping-category">全国年均水资源利用效率增速平均水平</label>
                            <input class="form-input" type="number" min="0" name="quanguonianjunshuiziyuanliyongxiaolvzengsupingjunshuiping" id="quanguonianjunshuiziyuanliyongxiaolvzengsupingjunshuiping-category">
                        </div>
                    </form>
                </div>
                <div class="form-submit category">确认</div>
            </div>
        </div>
        <header class="header">
            <a href="#/all"><div>直接录入</div></a>
            <i class="fa fa-angle-right fa-2x"></i>
            <a href="#/category"><div>分类录入</div></a>
        </header>
        <div class="tips">
            <div class="tips-body">
                <i class="fa fa-exclamation-triangle"></i>
                <strong>Caution</strong>
                <p class="tips-text"></p>
            </div>
        </div>
    </body>
</html>