<div class="container">
    <div class="list category animated">
        <div class="WA-EvaluationOfWarterResources">
            <header>
                <span>水资源评价</span>
            </header>
            <form class="WA-EvaluationOfWarterResources-form form">
                <div class="form-group">
                    <label class="labels" for="yongshuiliang-category">用水量(单位:亿m<sup>3</sup>)</label>
                    <input class="form-input" type="number" name="yongshuiliang" id="yongshuiliang-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="dixiashuigongshuizongliang-category">地下水供水总量(单位:亿m<sup>3</sup>)</label>
                    <input class="form-input" type="number" name="dixiashuigongshuizongliang" id="dixiashuigongshuizongliang-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="yongshuiliangkongzhizhibiao-category">用水量控制指标(单位:亿m<sup>3</sup>)</label>
                    <input class="form-input" type="number" name="yongshuiliangkongzhizhibiao" id="yongshuiliangkongzhizhibiao-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="dixiashuigongshuizhibiao-category">地下水供水指标(单位:亿m<sup>3</sup>)</label>
                    <input class="form-input" type="number" name="dixiashuigongshuizhibiao" id="dixiashuigongshuizhibiao-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="dixiashuishifouchaocai-category">地下水是否超采[否/是]</label>
                    <div class="toggle-input">
                        <input class="form-input" type="checkbox" name="dixiashuishifouchaocai" id="dixiashuishifouchaocai-category">
                        <label class="labels" for="dixiashuishifouchaocai-category"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="labels" for="EvaluationOfWarterResourcesDateYear-category">数据年份</label>
                    <input class="form-input" type="number" name="EvaluationOfWarterResourcesDateYear" id="EvaluationOfWarterResourcesDateYear-category">
                </div>
            </form>
        </div>
        <div class="WA-UtilizationEfficiencyOfWarterResources">
            <header>
                <span>水资源利用效率变化</span>
            </header>
            <form class="WA-UtilizationEfficiencyOfWarterResources-form form">
                <div class="form-group">
                    <label class="labels" for="jizhunnian-category">基准年</label>
                    <input class="form-input" type="number" min="1949" name="jizhunnian" id="jizhunnian-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianian-category">评价年</label>
                    <input class="form-input" type="number" min="1949" name="pingjianian" id="pingjianian-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="jizhunnianGDP-category">基准年GDP(单位:亿元)</label>
                    <input class="form-input" type="number" name="jizhunnianGDP" id="jizhunnianGDP-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianianGDP-category">评价年GDP(单位:亿元)</label>
                    <input class="form-input" type="number" name="pingjianianGDP" id="pingjianianGDP-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="jizhunnianxingzhengquyuneiyongshuiliang-category">基准年行政区域内用水量(单位:亿m<sup>3</sup>)</label>
                    <input class="form-input" type="number" name="jizhunnianxingzhengquyuneiyongshuiliang" id="jizhunnianxingzhengquyuneiyongshuiliang-category">
                </div>
                <div class="form-group">
                    <label class="labels" for="pingjianianxingzhengquyuneiyongshuiliang-category">评价年行政区域内用水量(单位:亿m<sup>3</sup>)</label>
                    <input class="form-input" type="number" name="pingjianianxingzhengquyuneiyongshuiliang" id="pingjianianxingzhengquyuneiyongshuiliang-category">
                </div>
                <div class="form-group">
                    <label class="labels input-active" for="quanguonianjunshuiziyuanliyongxiaolvzengsupingjunshuiping-category">全国年均水资源利用效率增速平均水平(格式:小数)</label>
                    <input class="form-input" type="number" name="quanguonianjunshuiziyuanliyongxiaolvzengsupingjunshuiping" id="quanguonianjunshuiziyuanliyongxiaolvzengsupingjunshuiping-category" value="0.1281" readonly="readonly">
                </div>
            </form>
        </div>
        <div class="form-submit category">确认</div>
    </div>
</div>
<header class="header">
    <div><i class="fa fa-angle-right"></i>欢迎您，水务局的朋友</div>
    <a href="#/WA/help" class="help"><div><i class="fa fa-question-circle-o animated pulse infinite"></i>查看帮助</div></a>
    <a href="/api/logout" class="logout-btn"><div>离开</div></a>
</header>
<div class="tips">
    <div class="tips-body">
        <i class="fa fa-exclamation-triangle"></i>
        <strong>Caution</strong>
        <p class="tips-text"></p>
    </div>
</div>
<div class="background"></div>